<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Job</title>
	<link rel="stylesheet" href="/public/styles/HomeCompanyStyle.css">
	<link rel = "stylesheet" href = "/public/styles/newjob.css">
</head>

<body>
	
	<div id="header">
	    <a id="logo" href="/"><img src="/public/jobs.png"></a>
	</div>

	<div class="row">
            <!-- Vertical Navbar -->
            <div class="column navbar">
                <ul>
                    <li><a href="/companyHome">Home</a></li>
                    <li><a href="/companyHome/newjob">New Job</a></li>
                    <li><a href="/companyHome/aboutus">About Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>

	<div class="content">
		
		


		<br/><br/>
		
		<form action = "/companyHome/aboutus" method = "post">
			<label>Company Name: </label> <input type = "text" name = "companyname" value = "<%=data['Company name'] %>"> <br/><br/>
			<label>About: </label> <textarea name = "about" >
				<%=data.About %>
			</textarea> <br/>
			<label>Established Date: </label> <input type = "date" name = "estdate" value = "<%=data['Established Date'] %>"> <br/>
			<label>No of employees: </label> <input type = "number" name = "empcount" value = "<%=data['No of Employee'] %>"> <br/>
			<input type = "submit">
		</form>
	</div>

</body>
</html>