<html>
	<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/styles/homecss.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
 </head>
 <body>
 	<nav>
 		<div class="left">
 			<img class="logo" src="/public/jobs.png">
 		</div>
 		<div class="right">
 			
 				<button class="button"><a href="/login">Login / Sign-Up</a></button>
 	
 			
 		</div>
 	</nav>
 	<div class="body">
 		<div class="left">
 			<h2 class="slogan">Apprising Candidates for Great Companies...</h2>
 			<h4>In the modern world it is hard to find suitable candidates for an employer and similarly it is hard for a potential candidate to present themselves in the market as a suitable employee. We have a solution for you...</h4>
 			<div>
 				<div class="what">
 					<h2>What we will do for</h2>
 				</div>
 				<div class="main">
 				<div class="company">
 					<h3>Companies</h3>
 					<p>Is it hard to find suitable candidate for your company? Do you want to determine how much salary a candidate deserves? Then, Register now and let us make your job easier.</p>
 					
 				</div>
 				<div class="candidate">
 					<h3>Candidate</h3>
 					<p>Do you want to get a right job? Are you worried that you will be paid less than what you deserve? Then, Register now.</p>
 					
 				</div></div>
 			</div>
 			
 		</div>
 		<div class="right">
 			<img src="/public/job-portal.png">
 		</div>
 	</div>
 </body>
</html>