<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles/LoginFormStyle.css">
</head>

<body>
    <div class="container">
           
            <div class="row">

                <div class="vl">

                </div>

                <div class="col">
                    <form action = "/register" method = "POST">
                        <div class="form">
                            <h2>Register Here</h2>
                            <div class="input_field">
                                <label>Username</label>
                                <input type="text" class="input" name = "username">
                            </div>
                            <div class="input_field">
                                <label>Company Name</label>
                                <input type="text" class="input" name = "companyname">
                            </div>
                            <div class="input_field">
                                <label>Email</label>
                                <input type="text" class="input" name = "email">
                            </div>
                            <div class="input_field">
                                <label>Phone</label>
                                <input type="text" class="input" name = "phone">
                            </div>
                            <div class="input_field">
                                <label>Address</label>
                                <input type="text" class="input" name = "address">
                            </div>
                            <div class="input_field">
                                <label>Password</label>
                                <input type="Password" class="input" name = "password">
                            </div>
                            <div class="input_field">
                                <label>Confirm Password</label>
                                <input type="Password" class="input" name = "confirmpassword">
                            </div>
                            <div>
                                <h2>Register as:</h2>
                                <div class="row">
                                    <div class="col">
                                        <label class="label" for="company">Company</label>
                                    </div>
                                    <div class="col">
                                        <input class="radio" id="company" type="radio" name="option" value = "company">
                                    </div>
                                    <div class="col">
                                        <label class="label" for="user">User </label>
                                    </div>
                                    <div class="col">
                                        <input class="radio" id="user" type="radio" name="option", value = "user">
                                    </div>
                                </div>
                            </div>
                            <div class="inputfield">
                                <input type="submit" value="Register" class="btn">
                            </div>
                        </div>
                    </form>
                </div>
               

                <div class="col partition">

                </div>
                <form action = "/login" method = "POST">
                    <div class="col">
                        <h2>Login Here</h2>

                        <div class="input-field">
                            <label>Username</label>
                            <input type="text" class="input" name="username">
                        </div>
                        <div class="input-field">
                            <label>Password</label>
                            <input type="text" class="input" name="password">
                        </div>
                        <div class="message">
                            <%=message%>
                        </div>
                        <input type="submit" value="Login">
                        <div>
                            <h2>Login as:</h2>
                            <div class="row">
                                <div class="col">
                                    <label class="label" for="logcompany">Company</label>
                                </div>
                                <div class="col">
                                    <input class="radio" id="logcompany" type="radio" name="option" value="company">
                                </div>
                                <div class="col">
                                    <label class="label" for="loguser">User </label>
                                </div>
                                <div class="col">
                                    <input class="radio" id="loguser" type="radio" name="option" value="user">
                                </div>


                            </div>
                        </div>

                    </div>

                </form>
            </div>

       
       
    </div>


</body>