<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Job</title>
	<link rel="stylesheet" href="/public/styles/HomeCompanyStyle.css">
	<link rel = "stylesheet" href = "/public/styles/newjob.css">
</head>

<body>
	
	<div id="header">
	    <a id="logo" href="/"><img src="/public/jobs.png"></a>
	</div>



	
	<form action = "/companyHome/newjob" method = "post">
		<label>Role: </label> <input type = "text"> <br/>
		<label>Place: </label> <input type = "text"> <br/>
		<label>Requirements: </label> <input type = "text"> <br/>
		<input type = "submit">
	</form>

</body>
</html>