<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="/public/styles/userProfilecss.css">
	  <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet">
		  <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		

	</head>
	<body>
		<div id="id01" class="modal">
  
		  <form class="modal-content animate" action="/action_page.php" method="post">
		  
		    <div class="container">
		    	<div class="row">
		      <label for="Institute"><b>Institute Name : </b></label>
		      <input type="text" name="Institute" id="Institute" required></div>

		      <div class="row">
		      <label for="program"><b>Program</b></label>
		      <select id="program" name="program" required>
		      	<option value="B.E/B.Tech.">B.E/B.Tech.</option>
		      	<option value="M.Tech.">M.Tech.</option>
		      	<option value="MCA">MCA</option>
		      	<option value="MSC">MSC</option>
		      </select>
		        </div>

		        <div class="row">
		      <label for="Start"><b>Start date : </b></label>
		      <input type="Date" name="Start" id="Start" required> 
		  		</div>

		  		<div class="row">
		      <label for="End"><b>End date : </b></label>
		      <input type="Date" name="End" id="End" required> 
		  		</div>

		  		<div class="row">
		      <label for="Scale"><b>Grade Scale : </b></label>
		      <select name="Scale" id="Scale" required> 
		      		<option value="Out of 10.0">CGPA Out of 10.0</option>
		      		<option value="Out of 4.0">CGPA Out of 4.0</option>
		      		<option value="Perentage">Percentage</option>
		      </select>
		  		</div>

		  		<div class="row">
		      <label for="Grade"><b>Grade Obtained : </b></label>
		      <input type="number" step="0.1" name="Grade" id="Grade" required> 
		  		</div>

		  		<div class="row">
		      <label for="major1"><b>Major Subject I :</b></label>
		      <input type="text" name="major1" id="major1" required> 
		  		</div>

		  		<div class="row">
		      <label for="major2"><b>Major Subject II : </b></label>
		      <input type="text" name="major2" id="major2"> 
		  		</div>

		    </div>

		    <div class="container" style="background-color:#f1f1f1">
		      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		      <button type="button" onclick=saveEducation() class="cancelbtn">Save</button>
		    </div>
		  </form>
		</div>

		<div id="id02" class="modal">
  
		  <form class="modal-content animate" action="/action_page.php" method="post">
		  
		    <div class="container">
		    	<div class="row">
		      <label for="Company"><b>Company Name : </b></label>
		      <input type="text" name="Company" id="company" required></div>

		        <div class="row">
		      <label for="Start1"><b>Start date : </b></label>
		      <input type="Date" name="Start1" id="Start1" required> 
		  		</div>

		  		<div class="row">
		      <label for="End1"><b>End date : </b></label>
		      <input type="Date" name="End1" id="End1" required> 
		  		</div>


		  		<div class="row">
					<p><b>Description : </b></p>
					<textarea rows=15 id="desc"></textarea>
						
				</div>

		    </div>

		    <div class="container" style="background-color:#f1f1f1">
		      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
		      <button type="button" onclick=saveExperience() class="cancelbtn">Save</button>
		    </div>
		  </form>
		</div>

		<div id="id03" class="modal">
  
		  <form class="modal-content animate" action="/action_page.php" method="post">
		  
		    <div class="container">
		    	<div class="row">
		      <label for="title"><b>Title : </b></label>
		      <input type="text" name="title" id="title" required></div>

		    	<div class="row">
		      <label for="guide"><b>Company/Guide Name : </b></label>
		      <input type="text" name="guide" id="guide" required></div>

		        <div class="row">
		      <label for="Start2"><b>Start date : </b></label>
		      <input type="Date" name="Start2" id="Start2" required> 
		  		</div>

		  		<div class="row">
		      <label for="End2"><b>End date : </b></label>
		      <input type="Date" name="End2" id="End2" required> 
		  		</div>


		  		<div class="row">
					<p><b>Description : </b></p>
					<textarea rows=15 id="desc1"></textarea>
						
				</div>

		    </div>

		    <div class="container" style="background-color:#f1f1f1">
		      <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
		      <button type="button" onclick=saveProject() class="cancelbtn">Save</button>
		    </div>
		  </form>
		</div>


		<div id="sideNavBar">
				<a href="/userhome" class="tooltip"><i class="fa fa-home fa-lg"></i><span class="tooltiptext">Home</span></a>
				<a href="/userprofile" class="tooltip"><i class="fa fa-user-circle fa-lg"></i><span class="tooltiptext">Profile</span></a>
				<a href="/appliedJobs" class="tooltip"><i class="fa fa-folder-open"></i><span class="tooltiptext">Applications</span></a>
				<a onClick="#" class="tooltip"><i class="fa fa-sign-out fa-lg"></i><span class="tooltiptext">Log Out</span></a>
		</div>
		<div id="upper">
				<div id="user">
					<p id="name">GEETIKA GUPTA</p>
					<p id="id">USER ID : 310498</p>
				</div>
				<a href="/"><img src="/public/jobs.png"></a>
		</div>
		<div class="main">
			<div class="navBar">
				<p class="resume"> </p>
				<p class="aboutmenu menu" onclick="about()">About</p>
				<p class="academicmenu menu" onclick="academics()">Academics</p>
				<p class="skillmenu menu" onclick="skills()">Skills</p>
				<p class="achievementmenu menu" onclick="achievements()">Achievements</p>
				<p class="resume"> </p>
			</div>
			
			<div class="about pages">
				<div class="savebutton">
					<button>Save changes</button>
				</div>
				<div class="details">
					<div class="row">
						<p>Personal ID : </p>
						<input type=text placeholder="310498" readonly>
					</div>

					<div class="row">
						<p>Name : </p>
						<input type=text placeholder="Geetika Gupta" readonly>
					</div>

    				<div class="row">
						<p>Email Id : </p>
						<input type=text placeholder="22guptageetika@gmail.com" readonly>
					</div>

					<div class="row">
						<p>Phone No. : </p>
						<input type=text placeholder="9876543210" readonly>
					</div>

					<div class="row">
						<p>Date Of Birth : </p>
						<input type=date placeholder="DD/MM/YYYY">
					</div>

					<div class="row">
						<p>Address : </p>
						<input type=text placeholder="City, State, Country">
					</div>

					<div class="row">
						<p>Gender : </p>
						<select name="gender" id="gender">
							<option value=""></option>
							<option value="male"> Male </option>
							<option value="female"> Female </option>
							<option value="none"> Pefer not to say </option>
						</select>
						
					</div>

					<div class="row">
						<p>About : </p>
						<textarea rows=15 placeholder="Write something about yourself..."></textarea>
						
					</div>
					

				</div>
				
			</div>
			<div class="academics pages">
				<div class="savebutton">
					<!-- <button>Save changes</button> -->
				</div>
				<div class="education">
					<div class="acad">
						Education Details:
						<button onclick=addEducation()>Add Education</button>
					</div>
					<div class="edu">
						
					</div>
				</div>

				<div class="experience">
					<div class="acad">
					Work Experience:
					<button onclick=addExperience()>Add Experience</button></div>

					<div class="experiences">
						
					</div>
				</div>
			</div>
			<div class="skills pages">
				<div class="savebutton">
					<!-- <button>Save changes</button> -->
				</div>
				<div class="skill">
					<div class="acad">Skills : </div>
					<div class="row">
						<p>Programming languages : </p>
						<div class="select">
							<div onclick=dropmenu(1) class="input">
								
							</div>
							<div class="dropdown">
								<p><input type=checkbox onclick="addprop(1)"> C++ </p>
								<p><input type=checkbox onclick="addprop(1)"> C </p>
								<p><input type=checkbox onclick="addprop(1)"> Java </p>
								<p><input type=checkbox onclick="addprop(1)"> Python </p>
								<p><input type=checkbox onclick="addprop(1)"> C#.Net </p>
								<p><input type=checkbox onclick="addprop(1)"> VB.Net </p>
								<p><input type=checkbox onclick="addprop(1)"> Visual C++ </p>
								<p><input type=checkbox onclick="addprop(1)"> J2EE </p>
								<p><input type=checkbox onclick="addprop(1)"> J2ME </p>
								<p><input type=checkbox onclick="addprop(1)"> JavaScript </p>
								<p><input type=checkbox onclick="addprop(1)"> Pascal </p>
								<p><input type=checkbox onclick="addprop(1)"> Fortran </p>
								<p><input type=checkbox onclick="addprop(1)"> PHP </p>
								<p><input type=checkbox onclick="addprop(1)"> Perl </p>
								<p><input type=checkbox onclick="addprop(1)"> Ruby </p>
								<p><input type=checkbox onclick="addprop(1)"> XML </p>

							</div>
						</div>
					</div>

					<div class="row">
						<p>Database : </p>
						<div class="select">
							<div onclick=dropmenu(2) class="input">
								
							</div>
							<div class="dropdown">
								<p><input type=checkbox onclick="addprop(2)"> MySQL </p>
								<p><input type=checkbox onclick="addprop(2)"> Oracle </p>
								<p><input type=checkbox onclick="addprop(2)"> PostgreSQL </p>
								<p><input type=checkbox onclick="addprop(2)"> MongoDB </p>
								<p><input type=checkbox onclick="addprop(2)"> Microsoft SQL server </p>
								<p><input type=checkbox onclick="addprop(2)"> DBase </p>
								<p><input type=checkbox onclick="addprop(2)"> Access </p>
								<p><input type=checkbox onclick="addprop(2)"> SQLite </p>
								<p><input type=checkbox onclick="addprop(2)"> PostgreSQL </p>   
								<p><input type=checkbox onclick="addprop(2)"> FireBird </p>
							</div>
						</div>
					</div>

					<div class="row">
						<p>Operating Systems : </p>
						<div class="select">
							<div onclick=dropmenu(3) class="input">
								
							</div>
							<div class="dropdown">
								<p><input type=checkbox onclick="addprop(3)"> Red Hat Linux </p>
								<p><input type=checkbox onclick="addprop(3)"> Windows 10 </p>
								<p><input type=checkbox onclick="addprop(3)"> DOS </p>
								<p><input type=checkbox onclick="addprop(3)"> Windows 3.1 </p>
								<p><input type=checkbox onclick="addprop(3)"> Windows 95/98/Me </p>
								<p><input type=checkbox onclick="addprop(3)"> Windows NT/2000/2003/2008 </p>
								<p><input type=checkbox onclick="addprop(3)"> Linux </p>
								<p><input type=checkbox onclick="addprop(3)"> UNIX </p>
								<p><input type=checkbox onclick="addprop(3)"> MacOS </p>
								<p><input type=checkbox onclick="addprop(3)"> BeOS </p>
								<p><input type=checkbox onclick="addprop(3)"> Solaris </p>
								<p><input type=checkbox onclick="addprop(3)"> SunOS </p>

							</div>
						</div>
					</div>

					<div class="row">
						<p>Certifications : </p>
						<div class="select">
							<div onclick=dropmenu(4) class="input">
								
							</div>
							<div class="dropdown">
								<p><input type=checkbox onclick="addprop(4)"> Machine Learning </p>
								<p><input type=checkbox onclick="addprop(4)"> Selenium </p>
								<p><input type=checkbox onclick="addprop(4)"> Artificial Intelligence </p>
								<p><input type=checkbox onclick="addprop(4)"> RedHat Linux certification </p>
								<p><input type=checkbox onclick="addprop(4)"> Deep Learning </p>
								<p><input type=checkbox onclick="addprop(4)"> AWS </p>
								<p><input type=checkbox onclick="addprop(4)"> Data Science </p>
							</div>
						</div>
					</div>

					<div class="row">
						<p>Softwares : </p>
						<div class="select">
							<div onclick=dropmenu(5) class="input">
								
							</div>
							<div class="dropdown">
								<p><input type=checkbox onclick="addprop(5)"> Visual Studio </p>
								<p><input type=checkbox onclick="addprop(5)"> Spyder </p>
								<p><input type=checkbox onclick="addprop(5)"> Jupyter notebook </p>
								<p><input type=checkbox onclick="addprop(5)"> MasterCAM </p>
								<p><input type=checkbox onclick="addprop(5)"> Google Colabe </p>
								<p><input type=checkbox onclick="addprop(5)"> Python IDE </p>
								<p><input type=checkbox onclick="addprop(5)"> Atom </p>
								<p><input type=checkbox onclick="addprop(5)"> Sublime Text editor </p>
								<p><input type=checkbox onclick="addprop(5)"> Tally </p>
								<p><input type=checkbox onclick="addprop(5)"> Photoshop </p>
								<p><input type=checkbox onclick="addprop(5)"> Intellij </p>
							</div>
						</div>
					</div>

					<div class="row">
						<p>Other Skills: </p>
						<div class="select">
							<div onclick=dropmenu(6) class="input">
								
							</div>
							<div class="dropdown">
								<p><input type=checkbox onclick="addprop(6)"> ML </p>
								<p><input type=checkbox onclick="addprop(6)"> AI </p>
								<p><input type=checkbox onclick="addprop(6)"> IOT </p>
								<p><input type=checkbox onclick="addprop(6)"> Cloud Computing </p>
								<p><input type=checkbox onclick="addprop(6)"> Web development </p>
								<p><input type=checkbox onclick="addprop(6)"> Android Development </p>
								<p><input type=checkbox onclick="addprop(6)"> Flutter </p>
								<p><input type=checkbox onclick="addprop(6)"> NLP </p>
								<p><input type=checkbox onclick="addprop(6)"> Hadoop </p>
								<p><input type=checkbox onclick="addprop(6)"> Cyber Security </p>
								<p><input type=checkbox onclick="addprop(6)"> Database administrator </p>
							</div>
						</div>
					</div>

					<div>
						<div class="acad">
						Projects:
					<button onclick=addProject()>Add Project</button></div>
					<div class="projects">
						
					</div>
					</div>
				</div>
				<div>
					
				</div>
				
			</div>
			<div class="achievements pages">
				
			</div>
		

		</div>
		
		<script type="text/javascript" src = "/public/scripts/userProfilejs.js"></script>
	</body>
</html>