<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="/public/styles/userHomecss.css">
	  <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet">
		  <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="sideNavBar">
				<a href="/userhome" class="tooltip"><i class="fa fa-home fa-lg"></i><span class="tooltiptext">Home</span></a>
				<a href="/userprofile" class="tooltip"><i class="fa fa-user-circle fa-lg"></i><span class="tooltiptext">Profile</span></a>
				<a href="/appliedJobs" class="tooltip"><i class="fa fa-folder-open"></i><span class="tooltiptext">Applications</span></a>
				<a href="/logout" class="tooltip"><i class="fa fa-sign-out fa-lg"></i><span class="tooltiptext">Log Out</span></a>
		</div>
		<div id="upper">
				<div id="user">
					<p id="name"><%=username%></p>
					<p id="id">USER ID : 310498</p>
				</div>
				<a href="/"><img src="/public/jobs.png"></a>
		</div>
		<div class="main">
			<div class="header">
				<h3>AVAILABLE JOBS</h3>
			</div>
			<div class="filters">
				 <label for="Experience">Experience(in years) : </label>
				<select name="Experience" id="Experience">
					<option value="All">All</option>
					<option value="0-2">0-2</option>
					<option value="2-4">2-4</option>
					<option value="4-7">4-7</option>
					<option value="7+">7+</option>
				</select>

				<label for="Role">Job Role : </label>
				<select name="Role" id="Role">
					<option value="All">All</option>
					<option value="Software Developer">Software Developer</option>
					<option value="Software Engineer">Software Engineer</option>
					<option value="Digital Marketing">Digital Marketing</option>
					<option value="Software Tester">Software Tester</option>
					<option value="Business Analyst">Business Analyst</option>
				</select>

				<label for="Location">Location : </label>
				<select name="Location" id="Location">
					<option value="All">All</option>
					<option value="Mumbai">Mumbai</option>
					<option value="Pune">Pune</option>
					<option value="Banglore">Banglore</option>
					<option value="Hyderabad">Hyderabad</option>
					<option value="Chennai">Chennai</option>
					<option value="Gurgaon">Gurgaon</option>
					<option value="Karnataka">Karnataka</option>
					<option value="Delhi">Delhi</option>
					<option value="Chhattisgarh">Chattissgarh</option>
				</select>
				
				<button>Apply filters</button>
			</div>
			<div class="jobpost">
				<div class="job">
					<img src="/public/job2.png">
					<div class="job-content">
						<div class="left">
							<h2>Software developer</h2>
							<p>Company name</p>
							<p>Location : Banglore</p>
						</div>
						<div class="right">
							<p>Profile : IT service</p>
							<p>Last date to apply : 15 Jan 2021</p>
							<button>View details</button>
						</div>

					</div>
				</div>

				<div class="job">
					<img src="/public/job2.png">
					<div class="job-content">
						<div class="left">
							<h2>Software developer</h2>
							<p>Company name</p>
							<p>Location : Banglore</p>
						</div>
						<div class="right">
							<p>Profile : IT service</p>
							<p>Last date to apply : 15 Jan 2021</p>
							<button>View details</button>
						</div>

					</div>
				</div>
				<div class="job">
					<img src="/public/job2.png">
					<div class="job-content">
						<div class="left">
							<h2>Software developer</h2>
							<p>Company name</p>
							<p>Location : Banglore</p>
						</div>
						<div class="right">
							<p>Profile : IT service</p>
							<p>Last date to apply : 15 Jan 2021</p>
							<button>View details</button>
						</div>

					</div>
				</div>
				<div class="job">
					<img src="/public/job2.png">
					<div class="job-content">
						<div class="left">
							<h2>Software developer</h2>
							<p>Company name</p>
							<p>Location : Banglore</p>
						</div>
						<div class="right">
							<p>Profile : IT service</p>
							<p>Last date to apply : 15 Jan 2021</p>
							<button>View details</button>
						</div>

					</div>
				</div>
			</div>
		</div>

	</body>
</html>