<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content = "width=device-width,inital-scale=1.0">
  <link rel="stylesheet" href="/public/styles/viewtable.css">
  <title>VIEW APPLICANTS</title>
  
</head>
<body>

  <div class="wrapper">
    <div class="table_title">
      VIEW APPLICANTS
    </div>

    <div class="table_wrap">
      <div class="table_header">
        <div class="item_wrap">
          <div class ="item item_id">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input">
                <span class="mark"></span>
              </label>
            </div>ID
          </div>
          <div class="item item_name">NAME</div>
          <div class="item item_job">Job Role</div>
          <div class="item item_location">Location</div>
          <div class="item item_Applied">Applied on</div>
          <div class="item item_resume">Resume</div>

        </div>
      </div>

      <div class="table_body">

        <div class="item_wrap">
          <div class ="item item_id item_id_1">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>101
          </div>
          <div class="item item_name">Rahul</div>
          <div class="item item_job">System Engineer</div>
          <div class="item item_location">Pune</div>
          <div class="item item_applied">2-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

         <div class="item_wrap">
          <div class ="item item_id item_id_2">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>102
          </div>
          <div class="item item_name">Nihal</div>
          <div class="item item_job">Manager</div>
          <div class="item item_location">Goa</div>
          <div class="item item_Applied">4-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

         <div class="item_wrap">
          <div class ="item item_id item_id_3">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>103
          </div>
          <div class="item item_name">Kunal</div>
          <div class="item item_job">Manager</div>
          <div class="item item_location">Pune</div>
          <div class="item item_Applied">6-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

         <div class="item_wrap">
          <div class ="item item_id item_id_4">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>104
          </div>
          <div class="item item_name">Rupal</div>
          <div class="item item_job">System Engineer</div>
          <div class="item item_location">Jaipur</div>
          <div class="item item_Applied">4-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

         <div class="item_wrap">
          <div class ="item item_id item_id_5">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>105
          </div>
          <div class="item item_name">Aman</div>
          <div class="item item_job">System Engineer</div>
          <div class="item item_location">Mumbai</div>
          <div class="item item_Applied">10-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

        <div class="item_wrap">
          <div class ="item item_id item_id_6">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>106
          </div>
          <div class="item item_name">Virat</div>
          <div class="item item_job">Manager</div>
          <div class="item item_location">Mumbai</div>
          <div class="item item_Applied">15-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

        <div class="item_wrap">
          <div class ="item item_id item_id_7">
            <div class="checkbox_wrap">
              <label class="checkbox">
                <input type="checkbox" class="input" value="item_id_1">
                <span class="mark"></span>
              </label>
            </div>107
          </div>
          <div class="item item_name">Vishal</div>
          <div class="item item_job">System Engineer</div>
          <div class="item item_location">Nasik</div>
          <div class="item item_Applied">15-12-2020</div>
          <div class="item item_resume"><button type="button">Click Me!</button></div>
        </div>

        

        
      </div>

    </div>

</body>
</html>