<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content = "width=device-width,inital-scale=1.0">
  <link rel="stylesheet" href="/public/styles/viewtable.css">
  <title>VIEW APPLICANTS</title>
  
</head>
<body>

  <div class="wrapper">
    <div class="table_title">
      VIEW APPLICANTS
    </div>

    <div class="table_wrap">
      <div class="table_header">
        <div class="item_wrap">
          
          <div class="item item_name">NAME</div>
          <div class="item item_job">Skills</div>
          <div class="item item_resume">Resume</div>

        </div>
      </div>



      <div class="table_body">


        <%for(let key in userdict){%>
          <div class="item_wrap">
            <div class="item item_name"><%=key%></div>
            <div class="item item_job"><%= userdict[key].slice(0, -2) %></div>
            
            <div class="item item_resume"><a href = "/companyHome/resume?id=<%=key%>">Click Me!</a></div>
          </div>
        <%}%>

        
      </div>

    </div>

</body>
</html>