body{
	margin: 0px;
	background-image: url('/public/loginimg.jpg');
	background-size: 100%;
}

.mainforms{
	margin: auto;
	width: 60%;
	height: 80%;
	/*transform: translateY(30%);*/
	display: grid;
	grid-template-columns: 40% 60%;
}

.form{
	background-color: rgba(0, 0, 0, 0.3);
	height: auto;
	margin-top: 10%;
	width: 100%;
	padding: 20px;
	text-align: center;
	align-items: center;
	display: block;
	z-index: 2;
}

.form .field{
	margin: auto;
}

.form button{
	margin-top: 15px;
	padding: 10px 20px;
	border-style: none;
	background-color: rgba(123, 321, 132, 0.7);
	border-radius: 20px;
}

.form .field input{
	padding: 10px;
	margin-top: 10px;
	border-radius: 30px;
	width: 80%;
	margin-left: 7%;
}

.form .field select{
	padding: 10px;
	margin-top: 10px;
	border-radius: 30px;
	width: 80%;
	margin-left: 7%;
}

.form1{
	height: 90%;
}
.login{
	height: 50%;
	margin-top: 20%;
	display: block;
}

.login .field{
	margin: 20px;
}


.register{
	display: none;
}

.photo img{
	width: 150%;
	margin-top: 40%;
}

span{
	cursor: pointer;
	color: blue;
}